@{
    ViewData["Title"] = "Home Page";
}
@model Dish

<div>
    <div >Chef: @Model.Chef</div>
        <div>
            <p>@Model.Name</p>
            <p>@Model.Description</p>
            <p>Tastiness: @Model.Tastiness</p>
            <p>Calories: @Model.Calories</p>

<div>
    <form asp-action="Delete" asp-controller="Home"  method="post" asp-route-id="@Model.DishId">
        <input type="submit"  value="Delete">
    </form>
    <a href="/Dishes/@Model.DishId/edit" class="btn btn-outline-info">Edit</a>
</div>